{% extends "layouts/main.html" %}

{% block pageTitle %}
  Page Flows
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back(-1);"
  }) }}
{% endblock %}

{% block content %}

      <div class="govuk-pages-plugin">
        <h1 class="govuk-heading-l">Page Flows</h1>
        {% from "govuk/components/details/macro.njk" import govukDetails %}

        <ic-switch label="Coffee preferences"></ic-switch>

        {{ govukDetails({
          summaryText: "What are 'Page Flows'?",
          html: "<p>Page Flows are a way of tracking user journeys through a prototype. They help visualise end to end flows for a given user, so that we may see them from an elevated position without the need for creating additional documentation.</p>
          <p class='govuk-body-s'> Note, the prototype might contain more user journeys than are listed here.</p>"
        }) }} 
        {% from "./components/step.njk" import govukPagesPluginStep %}
        {% from "govuk/components/accordion/macro.njk" import govukAccordion %}
        <div class="govuk-pages-plugin__flows">

        {% if hasStages %}
          {% include "includes/page-flow-with-stages.html" %}
        {% else %}
          {% include "includes/page-flow-no-stages.html" %}   
        {% endif %}

        </div>
      </div>

{% endblock %}