{% extends "layouts/main.html" %}

{% block pageTitle %}
  Stage Index
{% endblock %}

{% block content %}

      <div class="page-index ">
        <h1 class="govuk-heading-l">Stage Index</h1>
        <p class="govuk-body">This is a list of all tracked pages, grouped by the stage that they appear in. Note, the prototype might contain more pages than are listed here.</p>
        <!-- {{ stages | dump  }} -->
          {% for stage in stages %}
            <h2>{{ stage.title }}</h2>
            {% if stage.description %}
            <p class="govuk-body-s">{{ stage.description }}</p>
            {% endif %}
            <ol>
            {% for page in stage.pages %}
              <li><a href="{{ page.route }}">{{ page.title }}</a></li>
            {% endfor %}
            </ol>
            <hr/>
          {% endfor %}
      </div>

{% endblock %}