.govuk-pages-plugin__flows {
   &__flow {
    padding: 0;
    list-style: none;
      display: block;
      &--with-stages {
        display: flex;
        column-gap: govuk-spacing(1)
      }
  }

  &__stage {
      &__title {
        @extend .govuk-body-s;
      }
      ol {
        display: flex;
        padding: 0;
        column-gap: govuk-spacing(1);
      }
  }

  &__item {
    display: inline-block;
    @include govuk-font($size: 14);
    width: 200px;
    vertical-align: top;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background: url($page-flow-images + '/arrow.svg') no-repeat;
      background-size: contain;
      width: 50px;
      height: 10px;
      top: 30px;
      right: 30px;
    }
  }

  &__stage {
    &:last-of-type {
      .govuk-pages-plugin__flows__item {
        &:last-of-type {
          &:before {
            display: none;
          }
        }
      }
    }
  }

}